<!doctype html>
<html>
    <head>
        <link rel="stylesheet" type="text/css" href="static/css/preferences_style.css">

        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="static/js/test.js" type="text/javascript"></script>

        <title> Preferences</title>
    </head>

    <body>
        <center><h1> Preferences </h1></center>
        <p class="menu">
            <button onclick="location.href='http://127.0.0.1:5000/';">Return to Main Menu</button>
        </p>
        <br>
        <br>
        <center>
            <p style="text-align:left">
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Change background color</font></button>
                <br>
                <br>
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Change title color</font></button>
                <br>
                <br>
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Change status color</font></button>
                <br>
                <br>
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Change background image color</font></button>
                <br>
                <br>
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Increase font</font></button>
                <br>
                <br>
                <button onclick="location.href='http://127.0.0.1:5000/preferences';"><font size='5'>Decrease font</font></button>
            </p>
         </center>
    </body>
</html>
